/***** GLOBAL *****/

body {
    font-family: 'Tiny5', sans-serif;
    background-color: #FFFAFC;
}

#rock {
    color: #D497A9;
}

#paper {
    color: #90B790;
}

#scissors {
    color: #8BA1D9;
}

/***** UTILITIES *****/

.text-outline {
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000;
}

/***** BACKGROUND *****/

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    cursor:cell;
}

.left-graphics {
    position: relative;
    left: -10vh;
    image-rendering: pixelated; 
}

.right-graphics {
    position: relative;
    right: -10vh;
    image-rendering: pixelated; 
}

.frame-inside {
    background-color: #fefefe; /* base background */
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 10px 10px; 
    border: 3px solid #D497A9;
    outline: 2px solid #D497A9;
    width: 800px;
    height: 400px;
    padding: 20px 40px;
}

.frame-outside {
    background-color: #E2C1D4;
    border: 3px solid #000;
    outline: 2px solid #666;
    padding: 10px;
    box-shadow: 5px 5px 0 #555; 
}

/***** START SCREEN *****/

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-screen h1 {
    font-family: 'Micro 5', sans-serif;
    font-size: 200px;
    font-weight: 200;
    text-align: center;
    line-height: 0.6;
    margin: 32px 0;
}

#startBtn {
    font-family: 'Tiny5', sans-serif;
    font-size: 32px;
    background: #eeeeee;
    border: 2px solid #000;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #555; /
}

#startBtn:active {
    background-color: #d9d9d9;
    box-shadow: none;
    transform: translate(2px, 2px); /* pressed look */
}

/***** GAME SCREEN *****/

#game-screen {
    display: flex;
    flex-direction: column;
}

/* BATTLE AREA */

.battle-area {
    width: 800px;
    height: 280px;
    display: flex;
}


.left-side {
    width: 400px;
    height: 280px;
}

.right-side {
    width: 400px;
    height: 280px;
}

.sprite-container {
    height: 190px;
}

/* STATUS */

.name {
    font-size: 24px;
    color: #90B790;
}

.name.computer {
    margin-top: 10px;
}

.status.computer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hp-bar {
    width: 250px;
    height: 25px;
    border: 3px solid #90B790;
    border-radius: 5px;
}

.hp-fill {
    width: 250px;
    height: 25px;    
    background-color: #BDE4CF;
}

/* SPRITE */

.sprite {
    width: 400px;   
    image-rendering: pixelated; 
}

.sprite-container.player {
    position: relative;
    right: -20px;
    top: -10px;
}

.sprite-container.computer {
    position: relative;
    left: -20px;
    bottom: -10px;
}

.sprite.player {
    transform: scaleX(-1);
    position: relative;
    top: -170px;
    left: -40px;
    z-index: 2;
}

.sprite.computer {
    position: relative;
    top: -260px;
    right: -10px;
    z-index: 2;
}

/* PLATFORM */

.platform {
    transform: scale(0.95);
    width: 330px;
}

.platform.player {
    position: relative;
    top: -280px;
    z-index: 1;
}

.platform.computer {
    position: relative;
    top: -370px;
    right: -50px;
    z-index: 1;
}

/* DIALOGUE AREA */

.boxes {
    display: flex;
    height: 100px;
    gap: 16px;
    justify-content: space-between;
    z-index: 3;
}

.dialogue-box {
    display: flex;
    align-items: center;
    width: 600px;
    border: 3px solid #000000;
    padding: 12px;
    font-size: 20px;
    font-family: 'Tiny5', sans-serif;
    color: #1f1f1f;
    background-color: #F8F8F8;
}

/* CHOICES AREA */

.choice-box {
    width: 200px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.choice-box button {
    font-family: 'Tiny5', sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #555; /
}

#rockBtn {
    background: #D497A9;
}
#paperBtn {
    background: #90B790;
}
#scissorsBtn {
    background: #8BA1D9;
}