/***** GLOBAL *****/

body {
    background-color: #fefefe; /* base background */
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 10px 10px; 
}

#rock {
    color: #D497A9;
}

#paper {
    color: #90B790;
}

#scissors {
    color: #8BA1D9;
}

/***** REUSABLE CLASSES *****/

.text-outline {
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000;
}

/***** BACKGROUND *****/

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    cursor:cell;
}

.frame-inside {
    border: 3px solid #D497A9;
    outline: 2px solid #666;
    width: 800px;
    height: 400px;
    padding: 20px;
}

.frame-outside {
    border: 3px solid #000;
    outline: 2px solid #666;
    padding: 10px;
}

/***** START SCREEN *****/

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-screen h1 {
    font-family: 'Micro 5', sans-serif;
    font-size: 200px;
    font-weight: 200;
    text-align: center;
    line-height: 0.6;
    margin: 32px 0;
}

#startBtn {
    font-family: 'Tiny5', sans-serif;
    font-size: 32px;
    background: #eeeeee;
    border: 2px solid #000;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow:
    2px 2px 0 #555; /* pixel drop shadow */
}

#startBtn:active {
    background-color: #d9d9d9;
    box-shadow: none;
    transform: translate(2px, 2px); /* pressed look */
}

/***** GAME SCREEN *****/

#game-screen {
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.players-area {
    height: 200px;
    border: 8px solid #D497A9;
}

.boxes {
    display: flex;
}

.dialogue-box {
    width: 600px;
    height: 100px;
    border: 8px solid #D497A9;
}

.choice-box {
    height: 100px;
    border: 8px solid #D497A9;
}